<nav class="red accent-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">TrafficSpy</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/register">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
</nav>