<nav class="red accent-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">TrafficSpy</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/sources/<%="#{identifier}"%>">App Details</a></li>
        <li><a href="/sources/<%="#{identifier}"%>/events">Events Index</a></li>
        <li><a href="/register">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">App Details</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>