<h1>Application Details</h1>

<!-- {"1" => 5, "3" => 7, "2" => 20} -->
<!-- @identifier_name = Payload.all.find(full_path_id: "1")
    @identifier_count = Payload.all.find(url_count[full_path_id]) -->

<% @tasks.each do |task| %>
  <div class="task-<%=task.id%>">
    <h3><%= @identifier_name %>:<%= @identifier_count %></h3>
  </div>
<% end %>
