<%= erb :"_home_navbar" %>
<div id="app_error" class="container app_details">

  <div class="outer-panel">
    <h1>Identifier Error</h1>

    <p>
      There is no identifier called "<%=@identifier%>" for this request.
    </p>
    <p>
      <a href="/">Back to Search</a>
    </p>

  </div>
</div>
