<%= erb :"_home_navbar" %>
<div class="container app_details">
  <div class="outer-panel">
    <h1>Application Event Index Error</h1>

    <p>
      No events have been defined for <%=@identifier%>.
    </p>
    <p>
      <a href="/sources/<%=@identifier%>">Back to <%=@identifier%> Home</a>
    </p>

  </div>
</div>
