<%= erb :"_home_navbar" %>
<div class="container app_details">
  <div class="outer-panel">
    <h1>Application Event Details Error</h1>

    <p>
      There is no "<%=@event_name%>" event.
    </p>
    <p>
      <a href="/sources/<%=@identifier%>/events">Back to Event Index for <%=@identifier%></a>
    </p>

  </div>
</div>
