
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Traffic Spy</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
  <nav class="red accent-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">TrafficSpy</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">App Details</a></li>
        <li><a href="#">URL Stats</a></li>
        <li><a href="#">Events Index</a></li>
        <li><a href="#">Event Details</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">App Details</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <main>
    <div class="section no-pad-bot" id="index-banner">
        <%= yield %>
    </div>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Jordan | JP | Brenna</a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script>
  $(document).ready(function(){
     $('.slider').slider({full_width: true});
   });
   </script>

  </body>
</html>
