<%= erb :"_home_navbar" %>
<div class="container app_details">
  <div class="outer-panel">
    <h1>Application Details Payload Error</h1>

    <p>
      No payloads have been defined for <%=@identifier%>.
    </p>
    <p>
      <a href="/">Back to Search</a>
    </p>

  </div>
</div>
