<%= erb :"_home_navbar" %>
<div class="container app_details">
  <div id="path_error" class="outer-panel">
    <h1>URL Request Error</h1>

    <p>
      The URL "<%=@url_path%>" has not been requested.
    </p>
    <p>
      <a href="/sources/<%=@identifier%>">Back to <%=@identifier%> HomePage</a>
    </p>

  </div>
</div>
